= form_tag do
  = radio_button_tag :answer1, "#{@quiz.answer1}"
  = @quiz.answer1
  = radio_button_tag :answer2, "#{@quiz.answer2}"
  = @quiz.answer2
  = radio_button_tag :answer3, "#{@quiz.answer3}"
  = @quiz.answer3
  = radio_button_tag :answer4, "#{@quiz.answer4}"
  = @quiz.answer4
